
<p class="close_list" (click)="onCloseList()">X</p>
<div class="places_list_wrapper">
    <div *ngFor="let place of currPlaces" class="places_list">
        <app-place-item [place]="place">
          <ng-container *ngIf="isDetailsTripCategory" >
            <app-add-item-button [item]="place"></app-add-item-button>
          </ng-container>
        </app-place-item>
      </div>
      <app-more-places-loading [placesCollection]="{next_page_token: nextPageToken, results: currPlaces}" (loadMorePlaces)="onMorePlacesLoad($event)" class="load"/>
</div>