.places_list_wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    z-index: 2;
    padding: 120px 50px 50px 50px;
}
.places_list_wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.415);
    backdrop-filter: blur(8px);
}

.close_list {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
    font-weight: bold;
    z-index: 3;
    padding: 80px 100px;
    color: gold;
    cursor: pointer;
}

.load {
    z-index: 4;
}
