.heart_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 2;
}

.heart_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
