
.profile_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.profile_details_nav {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #32323225;
}
.profile_details_nav_el {
    display: block;
    color: #323232;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 1px;
    background-color: inherit;
    cursor: pointer;
}

.trips_container {
    width: 80%;
    position: relative;
    padding-bottom: 100px;
}


.category_active {
    border-bottom: 2px solid gold;
}