<footer>
    <div class="content">
      <div class="contact-info">
        <h4>Contact</h4>
        <p>Phone: 0123456789</p>
        <p>Email: info@example.com</p>
        <p>Address: 123 Example Street, City, Country</p>
      </div>
  
      <div class="footer-nav">
        <h4>Navigation</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
  
      <div class="social-media">
        <h4>Social Media</h4>
        <ul>
          <li>
            <a href="https://www.facebook.com/example"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/example"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/example"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
  
      <div class="additional-info">
        <h4>Additional Information</h4>
        <ul>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms of Use</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <p class="copyright">&copy; 2023 All rights reserved. Example Website.</p>
  </footer>
  