<footer>
    <div class="content">
      <div class="contact-info">
        <h4>Contact</h4>
        <p>Email: ivanzhela.dincheva@gmail.com</p>
        <p>Address: Sofia, Bulgaria</p>
      </div>
  
      <div class="footer-nav">
        <h4>Navigation</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/" fragment="category">Explore</a></li>
        </ul>
      </div>
  
      <div class="social-media">
        <h4>Social Media</h4>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/ivanzhela-dincheva-a07835254/"
              ><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/Ivanzhela"
              ><i class="fa-brands fa-github"></i></a>
          </li>
        </ul>
      </div>
  
      <div class="additional-info">
        <h4>Additional Information</h4>
        <ul>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="terms.html">Terms of Use</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <p class="copyright">&copy; 2023 All rights reserved. Explore Bulgaria.</p>
  </footer>
  