.conten_wrapper {
    height: auto;
    position: relative;
}

.conten_wrapper h2 {
    text-transform: uppercase;
}

.conten_wrapper h3 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: -5px;
}

.conten_wrapper .about_destination p {
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 350;
    height: 110px;
    overflow: hidden;
    width: 50%;
}
.conten_wrapper .about_destination .showContent {
    display: inline;
    overflow: hidden;
}
.conten_wrapper .show_btn {
    background-color: inherit;
    z-index: 1;
    border: none;
    padding: 0;
    margin-top: -10px;
    display: block;
    cursor: pointer;
}

.more_information_btn {
    min-width: 80px;
    color: #888888;
    font-size: 18px;
}

.about_destination {
    position: relative;
    height: auto;
}