<div class="to_do_content" *ngIf="nearbyPlace && nearbyPlace.length > 0">
  <h3 class="to_do_content">{{ nameWrapper }}</h3>
  <p
    *ngIf="nearbyPlace != null && nearbyPlace.length > 3"
    (click)="onPlacesList()"
    class="see_all_btn more_information_btn"
  >
    see all
    <i class="fa-solid fa-angle-right"></i>
  </p>
</div>
<div class="things_to_do">
  <div *ngFor="let place of nearbyPlace?.slice(0, 3)">
    <app-place-item [place]="place">
      <ng-container *ngIf="isCreatedTrip">
        <app-delete-item-button [itemId]="place.place_id" />
      </ng-container>
    </app-place-item>
  </div>
  <ng-container
    *ngIf="isPlacesList && isCreatedTrip && nearbyPlace.length == 0"
  >
    <app-places-list
      [places]="nearbyPlace"
      [isDetailsTripCategory]="{ category: currNameCategory, lat, lng }"
      (closeList)="onPlacesList($event)"
    />
  </ng-container>

  <ng-container *ngIf="isPlacesList && isCreatedTrip && nearbyPlace.length > 0">
    <app-places-list
      [places]="nearbyPlace"
      (closeList)="onPlacesList($event)"
      [nextPageToken]="nextPageToken"
      (loadMorePlaces)="morePlacesLoad($event)"
    />
  </ng-container>
  <ng-container *ngIf="isPlacesList && !isCreatedTrip">
    <app-places-list
      [places]="nearbyPlace"
      (closeList)="onPlacesList($event)"
      [nextPageToken]="nextPageToken"
      (loadMorePlaces)="morePlacesLoad($event)"
    />
  </ng-container>
</div>
