<header class="header">
  <nav class="topnav">
    <a routerLink="/" class="split">home</a>
    <div>
      <app-search />
    </div>
    <a routerLink="/" fragment="category">explore</a>
    <div class="dropdown">
      <button class="dropbtn">
        <i class="fa-solid fa-user"></i>
      </button>
      <div *ngIf="user" class="dropdown-content">
        <a [routerLink]="['/user/profile', user._id]"> Profile </a>
        <p (click)="onLogout()">Logout</p>
      </div>
      <div *ngIf="!user" class="dropdown-content">
        <a routerLink="/user/auth"> Login </a>
        <a routerLink="/user/auth"> Register </a>
      </div>
    </div>
  </nav>
</header>
