<div class="trips" *ngIf="categoryData">
  <a *ngFor="let trip of categoryData" class="trip">
    <app-delete-item-button [id]="trip.id" [category]="categoryName" />
    <img
      src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=1600&photoreference={{
        trip.photos[0]
      }}&key=AIzaSyDNSfe3ww_7nJhYA9bZPKQposxtC1tuv6E"
      alt="image"
      loading="lazy"
    />
    <div class="trip-content">
      <h3>{{ trip.name }}</h3>
      <div *ngIf="categoryName != 'Favourites'">
        <i class="fa-solid fa-calendar-days"></i>
        <p>{{ trip.startDate }} - {{ trip.endDate }}</p>
      </div>
    </div>
    <span class="trip_information">
      <a [routerLink]="['/user/profile/destination', categoryName, trip.id]"
        >see more information</a
      >
    </span>
  </a>
</div>
