<section class="category" id="category">
    <div class="category_content">
      <h3>Travel based on your interests</h3>
      <p>Bulgaria offers a very wide range of tourism typologies.</p>
      <p>Choose yours!</p>
    </div>
    <div class="gallery">
      <app-category-card
        [name]="'nature'"
        [image]="'assets/images/dospat-reservoir-smolyan-region-bulgaria-shutterstock_572058349.jpg'"
        [icon]="'assets/images/mountain-line-vector-graphic-design-illustration-2C6M1NC.png'"
      />
      <app-category-card
        [name]="'seaside'"
        [image]="'assets/images/kaliakra-fortress-bulgaria-shutterstock_362810666.jpg'"
        [icon]="'assets/images/depositphotos_79516572-stock-illustration-waves-icon-sea-flowing-sign.png'"
      />
      <app-category-card
        [name]="'history'"
        [image]="'assets/images/ruins-great-basilica-pliska-bulgaria-shutterstock_632737166.jpg'"
        [icon]="'assets/images/History-Line-Icon-Design-Graphics-10486954-1-580x409.png'"
      />
      <app-category-card
        [name]="'religion'"
        [image]="'assets/images/rila-monastery-bulgaria-shutterstock_457435315.jpg'"
        [icon]="'assets/images/church-512.png'"
      />
      <app-category-card
      [name]="'cities'"
      [image]="'assets/images/veliko-tarnovo-bulgaria-shutterstock_455014963.jpg'"
      [icon]="'assets/images/1000_F_259150405_WqNIUKFxY9UjKhnQrJttPgtuZF5NlBs8(1).png'"
      />
      <app-category-card
      [name]="'unesco'"
      [image]="'assets/images/ancient-ruins-veliki-preslav-bulgaria-shutterstock_66085201.jpg'"
      [icon]="'assets/images/mountain-line-vector-graphic-design-illustration-2C6M1NC.png'"
      />
    </div>
  </section>